---
import Layout from '../layouts/Common.astro'
import { SITE_DESCRIPTION } from '../consts'
import { getCollection } from 'astro:content'

const projects = await getCollection('projects')
---

<Layout title="Projects" description={SITE_DESCRIPTION}>
  <ul class="mx-auto max-w-[600px] list-none p-0">
    {
      projects.map((project) =>
        project.data.map((item) => (
          <li class="animate relative border-b border-gray-300 pb-5 pt-4 font-montserrat dark:border-dark-3 xs:py-6">
            <div class="left-0 top-7 m-0 mb-2 text-base font-thin tracking-wide text-[#999] dark:text-white xs:absolute xs:text-lg">
              {item.author}
            </div>
            <div class="mb-0 text-2xl tracking-wide xs:ml-32">
              <a
                class="!text-[#666] no-underline"
                target="_blank"
                href={item.url}
              >
                <div class="!text-[#666] transition-colors delay-200 ease-linear hover:!text-main/80 dark:!text-white dark:hover:!text-main/80">
                  {item.name}
                </div>
                <div class="mt-2 text-sm text-[#888] dark:!text-gray-300">
                  {item.desc}
                </div>
              </a>
            </div>
          </li>
        )),
      )
    }
  </ul>
</Layout>
