---
import type { CollectionEntry } from 'astro:content'
import BaseHead from '../components/BaseHead.astro'
import AppContainer from '../components/AppContainer.astro'
import FormattedDate from '../components/FormattedDate.astro'

type Props = CollectionEntry<'blog'>['data']

const { title, description, pubDate, updatedDate, heroImage } = Astro.props
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body class="md:bg-slate-50">
    <AppContainer>
      {heroImage && <img class="m-auto mb-8" src={heroImage} alt="" />}
      <div class="text-center">
        <div class="mb-2 text-slate-400">
          <FormattedDate date={pubDate} />
          {
            updatedDate && (
              <div class="last-updated-on">
                Last updated on <FormattedDate date={updatedDate} />
              </div>
            )
          }
        </div>
        <h1>{title}</h1>
        <hr />
      </div>
      <slot />

      <div class="my-8 text-gray-400/50">
        ><a
          class="ml-2 !text-gray-400 no-underline transition-[border] ease-in-out hover:border-b hover:border-main hover:!text-main"
          href="javascript:window.history.go(-1);">cd . .</a
        >
      </div>
    </AppContainer>
  </body>
</html>
